<input id="menu" type="checkbox" />
<div id="navbar">
  <label for="menu" id="close">X</label>
  <div id="top">
    <h1>Cory Mortimer</h1>
    <h2>Software Engineer // Human</h2>
    <ul>
      <li><a href="{{ site.baseurl }}{% link index.html %}">Home</a></li>
      <li><a href="{{ site.baseurl }}{% link blog.html %}">Blog</a></li>
      <li class="light-purple"><a href="//github.com/corymortimer" target="_blank">Github</a></li>
    </ul>
  </div>
  <footer id="footer">
    <ul>
      <li>&copy; {% assign thisyear = site.time | date: "%Y" %}
      {% if site.first_published %}
        {% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %}
        {% if diff contains '-' %}{{ site.first_published }},{% endif %}
      {% endif %}
      {{ thisyear }}
      {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}</li>
    </ul>
  </footer>
</div>
<label id="hamburger" for="menu">
  <div></div>
  <div></div>
  <div></div>
</label>